.jumbotron {
    background-color: var(--blue);
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5px;
    padding-top: 0px !important;
}

.jumbotron h1{
    font-size: 100px !important;
}